MYSQLDB_USER=
MYSQLDB_PASSWORD=
MYSQLDB_URL=jdbc:mysql://YOUR_LOCAL_HOST/car_sharing_app

TELEGRAM_BOT_NAME=
TELEGRAM_BOT_TOKEN=

JWT_EXPIRATION=
JWT_SECRET=

STRIPE_API_KEY=
STRIPE_SUCCESS_URL=YOUR_LOCAL_HOST/payments/success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=YOUR_LOCAL_HOST/payments/cancel?session_id={CHECKOUT_SESSION_ID}